:root {
    --bg:#fafafa;
    --linear-gradient:linear-gradient(160deg, #dc99bf, #fdc968);
    --white:#ffff;
    --border-color: #ccc;
    --bg-input: #525356;
    --bg-export: #007BFF; 
    --color-icon: #555;
    --fixed: #3c3c3f;
    --color-input: #ddd;
    --text-color: #2c2c2c;
    --header-bg: #007BFF; 
    --green:  #394c38;
    --hover-btn: #1100ff;
    --gray:#91A0A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body {
    background: var(--bg-);
    color: var(--text-color);
}

header {
    border-bottom:1px solid var(--border-color) ;
    padding: 1rem 2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:var(--linear-gradient) ;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-input {
    background-color: var(--bg);
    border-radius: 5px;
    border:none;
    padding: 1rem;
    font-weight: bold;
    width: 400px;
    border: 1px solid var(--text-color);
}

#search-input::placeholder {
    color: var(--text-color);

}
#export-notes {
    background: var(--bg-export);
    border-radius: 4px;
    color: var(--white);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.4s;
}

#export-notes:hover {
    background-color: var(--hover-btn);
}

#add-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 1rem auto 0;
    gap: 1rem;    
}



#add-note-container button {
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--bg-export);
    color: var(--white);
}

#add-note-container button:hover {
    background-color: var(--hover-btn);

}

#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    padding: 2rem;
    gap: 2rem;
  
}

.note {
    min-height: 200px;
    padding:1rem;
    border:1px solid var(--border-color);
    background-color: var(--bg);
    border-radius: 10px;
    color: var(--text-color);
    position: relative;
   
}

.note textarea {
    background-color: transparent;
    resize: none;
    color: var(--text-color);
    border: none;
    height: 100%;
    outline: none;
}

.note textarea::placeholder {
    color: var(--text-color);
    font-weight: bold;
}

.note .bi-pin {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;    
    cursor: pointer;
    padding: 5px;
    border-radius: 3px; 
}
.note:hover > i {
    opacity: 1;
}

.note .bi-x-lg,
.note .bi-file-earmark-plus {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.9rem;
    padding: 5px;
    transition: .3s;
    color: var(--color-icon);
    cursor: pointer;
    opacity: 0;
}
.note .bi-file-earmark-plus{
    top: 40px;
}
.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
    color: var(--text-color);   
}

.fixed {
   background-color:var(--bg-export);
}

.note .color-palette {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.note .color-palette i {
    margin-left: 0.5rem;
    cursor: pointer;
}

.note .color-menu {
    position: absolute;
    top: 2rem;
    right: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 0.5rem;
}

.note .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0.2rem;
    cursor: pointer;
}

@media(max-width:450px){
    header{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    #search-container {
        width: 100%;
    }
    #search-input{
        width: 100%;
    }
    #add-note-container {
        width: 100%;
        padding: 0 2rem;
    }

    #notes-container {
        grid-template-columns: repeat(auto-fill,100%);
    }
}